<% content_for :page_title do %> 
<h1> <div class="yellow">
  About
</div> </h1>
<% end %>

 <img src="/assets/cat.jpg" alt="red cat" />

 <p class ="text1">
  Lorem Ipsum is simply <span class="one"> dummy </span> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>

<span class ="text2"> blallalalals</span> <span class ="text1"> blallalalals</span>
