/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: cadetblue; font-size: 14px;
}

img {
  width: 200px;
  float:left;
  border-radius: 50%;
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera, Firefox */
    filter: grayscale(100%);
}


.text1 {color: red; text-align: right}
.text2 {color: blue; text-align: left}
.one {color: red}
.two {color: blue}
.yellow {color: yellow}
